* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #edeeff;
}

/* Style the header */
header {

  background-color: #7476ab;
  padding: 1px;
  text-align: center;
  font-size: 15px;
  color: black;
}

/* Create two columns/boxes that floats next to each other */
nav {

  text-align: center;
  background: #8a8cbf;
  padding: 5px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}


pictures {
  width:200px;
}

article {
  grid-column: max-content;
  padding: 10px;


}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #7476ab;
  padding: 10px;
  text-align: center;
  color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 0px;
  background-color:#E3E4FF;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
